<!DOCTYPE html>

<html>
    <head>
        <title>Demo: TODO</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

    </head>

    <body>

    <main role="main" class="container extra-bottom">
      <h1 class="mt-5">Company Stock App</h1>
      <p><mark>Follow your Company!</mark></p>
    </main>
    

    <div class="container">    
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>
            {% if user %}
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="nav-link">{{user}}</span>
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="col-md-3 text-end">
                    <a href="{{ url_for('login') }}">Login</a>
                </div>
            {% endif %}
            

            
        </header>
        <!-- Button trigger modal -->
        <div style="text-align: right;">
        <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="New Company">Add Company</button>
        </div>

        <div style="text-align: right;">
        <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#search-modal" data-source="New Task">Search Company</button>
        </div>

        <div style="text-align: left;">
            <button id="submit-procedure", type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#procedure-modal" data-source="New Task">Call Procedure</button>
            </div>

        <div style="text-align: left;">
            <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#query-modal" data-source="New Task">Query</button>
            </div>
    
            <div class="modal fade" id="query-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="Label">Run Query</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
        
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="submit-query" type="button" class="btn btn-primary">Query1</button>
                        <button id="submit-query2" type="button" class="btn btn-primary">Query2</button>
                    </div>
                    </div>
                </div>
            </div>

        <div class="modal fade" id="search-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Label">Search Company</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
    
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="comp-form-display">Company</span>
                        <input type="text" class="form-control" placeholder="Company ID or Company Name" aria-label="task-name" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="submit-search" type="button" class="btn btn-primary">Search Company</button>
                </div>
                </div>
            </div>
        </div>
                
        <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">Add a Company</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="task-form-display">Company ID</span>
                    <input type="text" class="form-control-id form-control" placeholder="" aria-label="company-id" aria-describedby="basic-addon1" id="company-id">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="task-form-display">Company Name</span>
                    <input type="text" class="form-control-name form-control" placeholder="" aria-label="company-name" aria-describedby="basic-addon1" id="company-name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="submit-task" type="button" class="btn btn-primary">Save</button>
            </div>
            </div>
        </div>
        </div>

    </div>

    <!--Todo Table-->
    <div class="container table-responsive">          
    <table class="table">
        <thead>
        <tr>
            <th class="task-id">CompanyId</th>
            <th class="task">Company Name</th>
            <th class="status">Status</th>
            <th class="update">Edit</th>
            <th class="update">Remove</th>
        </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.task}}</td>

                {% if item.status == "Follow" %}
                    <td><button type="button" class="btn btn-outline-warning btn-sm state" data-source="{{item.id}}">{{item.status}}</button></td>
                {%endif%}
                {% if item.status == "Unfollow" %}
                    <td><button type="button" class="btn btn-outline-secondary btn-sm state" data-source="{{item.id}}">{{item.status}}</button></td>
                {%endif%}
                
                <td><button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="{{item.id}}" data-id="{{item.id}}" data-name="{{item.task}}"><i class="fa fa-pen fa-1" aria-hidden="true"></i></button></td>

                <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{item.id}}" type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    </div>



    <footer class="footer">
      <div class="container">
            <p class="text-muted"><small>App developed for CS411 UIUC by @tcheng10</small></p>
      </div>
    </footer>
  </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/modal.js') }}"></script>

</html>